.character-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 25px;
}

.character {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}

.char-props-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.character-property {
    font-weight: bolder;
    font-size: 17px;
}

.character-name {
    color: #2e2a2a;
    text-shadow: 1px 1px 5px #fff;
    font-weight: bold;
    font-size: 25px;
    margin: 5px;
    border-bottom: 2px dotted #2e2a2a;
}